<!DOCTYPE html>
<html lang="en" ng-app="myLanguageApp">
  <head>
    <meta charset="UTF-8" />
    <title>AngularJS | Hands on</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="languages">
      Select your favourite language:
      <button ng-click="java()">Java</button>
      <button ng-click="react()">React</button>
      <button ng-click="node()">Node</button>
      <p>You have selected: {{myFavLanguage}}</p>
    </div>
    <script>
      var application = angular.module("myLanguageApp", []);
      application.controller("languages", function ($scope) {
        $scope.myFavLanguage = "None";

        $scope.java = function () {
          $scope.myFavLanguage = "Java";
        };

        $scope.react = function () {
          $scope.myFavLanguage = "React";
        };

        $scope.node = function () {
          $scope.myFavLanguage = "Node";
        };
      });
    </script>
  </body>
</html>
